.App{
    color: #fff;
    width: 40%;
    margin: 2em auto;
    border-radius: 5px;
    background-color: #394049;
}

.todo-header{
    text-align: center;
    padding: .5em;
    border-bottom: 1px solid #2c3035;
}

.form-todo{
    margin: 0 2em;
    padding: 1em;
    border-bottom: 1px solid #2C3035;
}

.form-todo h2,
.list-todo h2{
    text-align: center;
    margin: 0 0 1em 0;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label{
    font-weight: bold;
    font-size: .7em;
    margin-bottom: .4em;
}

.form-control input{
    color: #dfdfdf;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid #222;
    background-color: #3c3035;
}

input[type="submit"]{
    color: #eee;
    display: block;
    width: 100%;
    padding: 1em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #222;
    background-color: #333;
}

.list-todo{
    margin: 1em 2em;
    padding: 0 1em 2em;
}

.list-todo h2{
    margin-bottom: 0;
}

.list-todo p{
    text-align: center;
}

.todo{
    padding: 1em 0;
    border-bottom: 1px solid #444;
}

.todo h3{
    margin-bottom: .5em;
}

.todo p{
    text-align: left;
    font-style: italic;
    font-size: .7em;
    margin-bottom: 1.5em;
}

.todo svg{
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
    transition: .5s;
}

.todo svg:hover{
    color: #f06292;
}

.todo-done{
    color: #f06292;
    text-decoration: line-through;
}